{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; {% translate 'Import from Excel' %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    {# Include Django messages #}
    {% if messages %}
    <ul class="messagelist">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <div class="module">
        <h2>{% translate 'Import Students from Excel' %}</h2>
        
        <div class="form-row">
            <p>{% translate 'Upload an Excel file (.xlsx, .xls) containing student data.' %}</p>
            <p>{% translate 'The file must contain the following columns:' %}</p>
            <ul>
                <li>first_name (required)</li>
                <li>last_name (required)</li>
                <li>email (required)</li>
                <li>department (required)</li>
                <li>year (required)</li>
                <li>middle_name (optional)</li>
                <li>profile_image (optional, path to image file)</li>
            </ul>
        </div>
        
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-row">
                {{ form.excel_file.errors }}
                <label for="{{ form.excel_file.id_for_label }}" class="required">{{ form.excel_file.label }}:</label>
                {{ form.excel_file }}
                {% if form.excel_file.help_text %}
                <div class="help">{{ form.excel_file.help_text }}</div>
                {% endif %}
            </div>
            
            <div class="submit-row">
                <input type="submit" value="{% translate 'Upload and Process' %}" class="default" name="_save">
                <a href="{% url opts|admin_urlname:'changelist' %}" class="closelink">{% translate 'Cancel' %}</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
